{% extends './configuration.html' %}
{% block customCSS %}{% endblock %}
{% block title %}Forms Configuration{% endblock %}
{% block configuration %}
<main class="contenedor-ancho grid col-3 med-col-2 peq-col-1">
    <section class="card">
        <h2 class="display-4 texto-derecha no-margen" style="color:var(--color-rojo); font-weight:bold;">EDIT USER</h2>
        <form action="/update_user/{{data2edit[0][0]}}" method="POST" class="main-section_form ">
            <label for="status" style="font-weight:bold;">User Status</label>
            <select name="status" id="status" class="margen-inferior" style="border:none;">
                <option value="{{data2edit[0][7]}}">{{data2edit[0][7]}}</option>
                <option value="{{data2edit[0][8]}}">{{data2edit[0][8]}}</option>
            </select>
            <br>
            <label for="wh_id" style="font-weight:bold;">Warehouse</label>
            <select class="form-control input" id="wh_id" name="wh_id">
                <option name="warehouse" id="warehouse">{{ warehouse_logged }}</option>
            </select>
            <label for="usr_id" style="font-weight:bold;">User</label>
            <input type="text" class="form-control input" id="usr_id" name="usr_id" value="{{data2edit[0][0]}}">
            <label for="usr_nam" style="font-weight:bold;">Name</label>
            <input type="text" class="form-control input" id="usr_nam" name="usr_nam" value="{{data2edit[0][1]}}">
            <label for="usr_surnam" style="font-weight:bold;">Surname</label>
            <input type="text" class="form-control input" id="usr_surnam" name="usr_surnam" value="{{data2edit[0][2]}}">
            <div class="form_split">
                    <div>
                        <label for="hie_id" style="font-weight:bold;">Hierarchy</label>
                        <select id="hie_id" name="hie_id" class="margen-inferior" style="border:none; height:45px;">
                            {% for hierachy in hierarchies_to_update %}
                                <option value="{{ hierachy.0 }}">{{ hierachy.0 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="pri_id" style="font-weight:bold;">Role</label>
                         <select id="pri_id"  name="pri_id" class="margen-inferior" style="border:none; height:45px;">
                            {% for role in role_to_update %}
                                <option value="{{ role.0 }}">{{ role.0 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            <button class="boton" type="submit">Save</button>
            <button class="boton" type="submit"><a href="{{url_for('users_config')}}">Cancel</a></button>
        </form>
    </section>
      </section>
             <section class="card span-2 scroll-vertical">
             <table class="tabla" id="tabla" >
                <thead class="tabla-encabezado-fijo">
                    <tr>
                        <th class="texto-centrado">USER</th>
                        <th class="texto-centrado">NAME</th>
                        <th class="texto-centrado">SURNAME</th>
                        <th class="texto-centrado">HIERARCHY</th>
                        <th class="texto-centrado">ROLE</th>
                        <th class="texto-centrado">STATUS</th>
                    </tr>
                </thead>
                <tbody class="tabla_con_encabezado">
                    {% for user in all_users_results %}
                        <tr>
                            <td style="text-align:center; font-weight:bold; text-transform: uppercase; color: var(--color-primario)">{{ user.0 }}</td>
                            <td style="text-align:center; color: var(--color-primario)">{{ user.1 }}</td>
                            <td style="text-align:center; color: var(--color-primario)">{{ user.2 }}</td>
                            <td style="text-align:center; color: var(--color-primario)" value="{{user.3}}">{{ user.4 }}</td>
                            <td style="text-align:center; color: var(--color-primario)" value="{{user.5}}">{{ user.6 }}</td>
                            <td class="{{ user.7 }}" style="font-weight:bold; text-align:center; color: var(--color-primario)">{{ user.7 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
</main>
{% endblock %}