{% extends './configuration.html' %}
{% block customCSS %}{% endblock %}
{% block title %}Forms Configuration{% endblock %}
{% block configuration %}
<main class="contenedor-ancho grid col-3 med-col-2 peq-col-1">
    <section class="card">
        <h2 class="display-4 texto-derecha no-margen" style="color:var(--color-rojo); font-weight:bold;">EDIT WAREHOUSE</h2>
        <form action="/update_wh/{{data2edit[0][0]}}" method="POST" class="main-section_form ">
            <label for="wh_num" style="font-weight:bold;">Warehouse Number</label>
            <input type="text" class="form-control input" id="wh_num" name="wh_num" value="{{data2edit[0][0]}}">
            <label for="wh_id" style="font-weight:bold;">Warehouse ID</label>
            <input type="text" class="form-control input" id="wh_id" name="wh_id" value="{{data2edit[0][1]}}">
            <label for="wh_nam" style="font-weight:bold;">Warehouse Name</label>
            <input type="text" class="form-control input" id="wh_nam" name="wh_nam" value="{{data2edit[0][2]}}">
            <select class="form-control input" id="wh_sts" name="wh_sts" placeholder="Warehouse Status">
                <option name="enabled" value="1">Enabled</option>
                <option name="disabled" value="0">Disabled</option>
            </select>
            <button class="boton" type="submit">Save</button>
            <button class="boton" type="submit"><a href="{{url_for('warehouse_configuration')}}">Cancel</a></button>
        </form>
    </section>
     <section class="card span-2 scroll-vertical">
         <table class="tabla" id="tabla" >
            <thead class="tabla-encabezado-fijo">
                <tr>
                    <th class="texto-centrado">WAREHOUSE</th>
                    <th class="texto-centrado">NAME</th>
                    <th class="texto-centrado">STATUS</th>
                </tr>
            </thead>
            <tbody class="tabla_con_encabezado">
                {% for wh in wh_query_results %}
                    <tr>
                        <td style="text-align:center; font-weight:bold; text-transform: uppercase; color: var(--color-primario)">{{ wh.1 }}</td>
                        <td style="text-align:center; color: var(--color-primario)">{{ wh.2 }}</td>
                        <td class="{{ wh.3 }}" style="font-weight:bold; text-align:center; color: var(--color-primario)">{{ wh.3 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}